.section-image {
  background-image: url(../../Assets/StatisticSectionImage.png);
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}
